.wrapper {
  margin: 0 auto;
  padding: 80px 0px 0;
  color: #707070;
  font-size: 16px;
  .title {
    background: linear-gradient(to right, #e8dbb0, #d3bfff);
    padding: 46px 0;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 40px;
    color: #fff;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
  ul,
  ol {
    padding-left: 20px;
    margin-bottom: 20px;
  }

  table {
    border-collapse: collapse;

    td {
      padding: 5px 10px;
      border: 1px solid #707070;
    }
  }
}
