
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #ffb977;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
