@import "../../../styles/mixins";
.wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  //align-items: flex-end;
  justify-content: center;
  padding: 32px;
}
.heading {
  color: #fff;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2px;
  margin-bottom: 24px;
  position: relative;
  z-index: 1;
  @include mobile() {
   display: none;
  }
}
.bg {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.content {
  //padding: 0 65px;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  @include mobile() {
    display: none;
  }
  li {
    color: #fff;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
.card {
  //margin-top: 112px;
  border-radius: 8px;
  background: #fff;
  box-shadow:
    0px 0px 8px 0px rgba(0, 0, 0, 0.16) inset,
    2px 4px 6px 0px rgba(0, 0, 0, 0.16);
  padding: 16px;
  color: var(--Greys-70, #464646);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  text-align: center;
  @include mobile() {
    margin-top: 0;
  }
  .bottom{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    a{
      color: var(--Greys-70, #464646);
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px; /* 200% */
    }
  }
}
